{% include 'navbar.html' %}
{% load static %}

<head>
    <link rel='stylesheet' type='text/css'
        href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css'>

    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
</head>
<br>
<br>
<div class='main-container'>
    <div class="row">
        <div class="mylist">
            <!-- <div class="col-sm-4"></div> -->
            <div class="col-sm-4">
                {% block title %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>